body {
   font-family: 'Noto Serif', serif;
   color: #2C2C2C;
   overflow-x: hidden;
}

p {
   color: #A79997;
}

.btn {
   font-size: 14px;
   padding: 15px 30px;
   color: #fff;
   background-color: #FF715B;
}

.header-div {
   padding: 30px 0;
}

.header-li {
   padding: 0 20px;
}

.header-link {
   color: #2C2C2C;
}

.header-user {
   margin-right: 12px;
}

.bx-user {
   top: 2px;
   font-size: 18px;
   margin-right: 10px;
}

.bx-search {
   top: 2px;
   font-size: 18px;
   padding-left: 8px;
   border-left: 1px solid #F1E0DD;
}

.main-div {
   padding-bottom: 100px;
}

.hero-img {
   position: absolute;
   z-index: -10;
}

.main-title {
   padding: 200px 120px;
}

.main-title-h2 {
   font-size: 68px;
   line-height: 112px;  
   margin-bottom: 40px;
}

.bilet-price-ul {
   position: absolute;
   right: 0;
   width: 800px;
   padding: 30px;
   background-color: #fff;
   box-shadow: 0px 10px 30px 5px rgba(219, 200, 197, 0.2);
}

/* .bilet-price-li {
   margin-right: 30px;
} */

.bilet-price-li > *{
   display: block;
}

.bilet-price-span {
   font-size: 12px;
   color: #A79997;
}

.bilet-price-b {
   font-size: 14px;
   padding-bottom: 10px;
   border-bottom: 1px solid #F5EBE9;
   color: #FF715B;
}

.bilet-i {
   top: 3px;
   font-size: 25px;
   padding-left: 60px;
}

.main-slider {
   top: 90px;
}

.arrow {
   font-size: 30px;
   padding: 5px;
   margin-right: 10px;
   border: 2px solid #F5EBE9;
   box-sizing: border-box;
   color: #FF715B;
   transition: color 0.4s ease, background 0.4s ease;
}

.arrow:hover {
   border: none;
   padding: 7px;
   color: #fff;
   background-color: #FF715B;
}

.line {
   width: 180px;
   height: 2px;
   margin: 10px;
   margin-right: 20px;
   background: #F5EBE9;
}

.slider-num {
   color: #FF715B;
}


/* -------Choose-section------- */


.choose-div {
   padding: 100px 0;
}

.choose-li {
   padding: 30px;
   background-color: #F8F8F8;
   transition: all 0.4s ease;
}

.choose-li:hover {
   background-color: #fff;
   filter: drop-shadow(0px 12px 30px rgba(200, 180, 180, 0.2));
}

.choose-before1::before {
   position: absolute;
   left: 25%;
   width: 128px;
   height: 128px;
   content: "";
   background-image: url("../img/choose1.svg");
}

.choose-before::before {
   position: absolute;
   left: 30%;
   width: 100px;
   height: 100px;
   content: "";
}

.choose-before2::before {
   background-image: url("../img/choose2.svg");
}

.choose-before3::before {
   background-image: url("../img/choose3.svg");
}

.choose-before4::before {
   background-image: url("../img/choose4.svg");
}

.choose-li-span {
   font-weight: 700;
   font-size: 20px;
   margin-top: 130px;
   margin-bottom: 20px;
   color: #2C2C2C;
}

.choose-li-p {
   font-size: 14px;
   line-height: 26px;
}


/* --------Top-title-------- */


.top-div {
   padding: 50px 0;
}

.top-title {
   padding: 80px 0;
}

.top-title-h2 {
   font-size: 44px;  
   line-height: 65px;
   margin-bottom: 30px;
}

.top-title-h2 span {
   color: #FF715B;
}

.top-title-p {
   font-size: 16px;
   line-height: 26px;
   margin-bottom: 50px;
}

.top-img img {
   width: 260px;
   height: 340px;
   margin-right: 25px;
}

.top-bg {
   right: -23%;
   width: 750px;
   height: 500px;
   background:#F7F7F7;
   z-index: -10;
}


/* -------Offer-section------- */


.offer-div {
   padding: 50px 0;
   justify-content: center;
}

.offer-bg img {
   position: absolute;
   left: -5%;
}

.offer-img img {
   width: 570px;
   height: 700px;
}

.offer-title-h2 {
   font-size: 40px;
   line-height: 65px;
   margin-bottom: 60px;
}

.offer-li-h3 {
   font-size: 17px;
   padding-left: 70px;
   margin-bottom: 25px;
}

.offer-li-p {
   font-size: 13px;
   line-height: 26px;
   padding-left: 70px;
}

.offer-before0::before {
   position: relative;
   top: 20px;
   width: 50px;
   height: 50px;
   content: "";
   padding-right: 70px;
}

.offer-before1::before {
   position: absolute;
   top: -25%;
   left: -2%;
   width: 70px;
   height: 85px;
   content: "";
   background-position: -5px 10px;
   background-image: url("../img/offer1.svg");
   z-index: -10;
}

.offer-before2::before {
   background-image: url("../img/offer2.svg");
}

.offer-before3::before {
   background-image: url("../img/offer3.svg");
}

.offer-after::after {
   position: absolute;
   bottom: -25%;
   left: 13%;
   width: 480px;
   height: 1px;
   content: "";
   background: #F1E0DD;
}

.offer-li__h3 {
   font-size: 17px;
   margin-top: 25px;
   padding-bottom: 20px;
}


/* -------Card-section--------- */


.card-div {
   padding: 50px 0;
}

.card-title h2 {
   font-size: 44px;
   margin-bottom: 50px;
}

.card-li {
   margin: 0 10px;
}

.card-li-b {
   transform: translateY(30%);
}

.card-img {
   width: 340px;
   height: 390px;
}

.card-bg {
   position: absolute;
   width: 130px;
   height: 130px;
}

.card-bg1 {
   left: -44%;
}

.card-bg2 {
   right: -41.5%;
}

.card-item {
   position: relative;
   top: -8%;
   right: -9%;
   width: 310px;
   height: 70px;
   padding: 5px 15px;
   cursor: pointer;
   background: #FFFFFF;
   box-shadow: 0px 10px 25px rgba(215, 190, 190, 0.2);
}

.card-btn {
   transform: translateY(140%);
}

.card-item-p {
   text-align: start;
   font-weight: 700;
   font-size: 23px;
   color: #000;
}

.card-item-price {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 14px;
   margin-right: 20px;
   color: #FF715B;
}

.card-item-reviews {
   font-family: sans-serif;
   font-size: 14px;
   color: #A79997;
}

.card-item-reviews i {
   color: #ffff31;
}

.bx-plus {
   position: relative;
   top: -15px;
   right: -10px;
   font-size: 20px;
   padding: 8px;
   color: #fff;
   background-color: #FF715B;
}


/* ------Happy-section-------- */



.happy-div {
   padding: 100px 0;
}

.happy-bgl {
   top: -10%;
   left: -15%;
   width: 100%;
   height: 800px;
   background-image: url("../img/happy-l.svg");
   z-index: -10;
}

.happy-bgr {
   top: 25%;
   right: -63%;
   width: 100%;
   height: 800px;
   background-image: url("../img/happy-r.svg");
   z-index: -10;
}

.happy-h2 {
   font-size: 44px;
   line-height: 65px;
   margin-bottom: 50px;
}

.happy-item {
   width: 600px;
   height: 400px;
   margin: 0 auto;
   padding: 50px;
   border-top: 12px solid #FF715B;
   background: #FFFFFF;
   box-shadow: 0px 20px 30px rgba(227, 202, 202, 0.3);
}

.happy-item-name {
   padding-left: 100px;
}

.happy-item-h3::before {
   width: 80px;
   height: 80px;
   content: "";
   padding-right: 100px;
   background-image: url("../img/customer0.png");
}

.happy-item-h3 {
   font-size: 20px;
   margin-bottom: 10px;
   
}

.happy-item-span {
   font-family: sans-serif;
   font-weight: bold;
   font-size: 14px;
   margin-left: -95px;
   color: #FF715B;
   transform: translateY(-45px);
}

.happy-item-p {
   width: 400px;
   font-family: sans-serif;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 40px;
}

.dot {
   width: 5px;
   height: 5px;
   margin: 5px;
   border-radius: 50%;
   background: #C4C4C4;
}

.dot-big {
   width: 10px;
   height: 10px;
   margin: 5px;
   border-radius: 50%;
   background: #FF715B;
}


/* --------Get-section-------- */


#get-section {
   padding: 100px 0;
}


.get-div {
   width: 100%;
   height: 500px;
   padding-left: 100px;
   border-radius: 10px;
   background: linear-gradient(90deg, #CEFEFE 0%, #DDF181 100%);
   z-index: -10;
}

.get-h2 {
   font-size: 40px;
   line-height: 65px;
   margin-bottom: 30px;
}

.get-link {
   width: 200px;
   height: 60px;
   margin-right: 20px;
   padding: 6px 15px 5px 5px;
   border-radius: 5px;
   background: #000;
}

.get-link2 {
   color: #fff;
   background-color: #FF715B;
}

.get-link i {
   font-size: 50px;
}

.bxl-play-store {
   color: #2bd02b;
}

.bxl-apple {
   margin: 0 10px;
}

.get-link-title {
   color: #fff;
}

.get-link span {
   font-family: sans-serif;
   font-size: 14px;
   margin-top: 6px;
}

.get-link b {
   display: block;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: normal;
   font-size: 22px;
}

.get-bg {
   top: 15%;
   right: 0;
}


/* ------Footer-section------- */


.footer-div {
   padding: 50px 0;
}

.footer-title {
   margin-right: 8%;
}

.footer-logo {
   margin-bottom: 25px;
}

.footer-title-p {
   font-family: sans-serif;
   font-size: 15px;
   line-height: 26px;
   margin-bottom: 30px;
}

.footer-link {
   display: block;
   font-size: 14px;
   color: #A79997;
}

.footer-li-link {
   transition: color 0.2s ease;
}

.footer-li-link:hover {
   color: #FF715B;
}

.footer-link i {
   position: relative;
   top: 3px;
   font-size: 20px;
   margin-right: 10px;
   margin-bottom: 15px;
   color: #FF715B;
}

.footer-li {
   margin-right: 100px;
}

.footer-li > * {
   display: block;
}

.footer-label {
   display: block;
   margin-bottom: 20px;
}

.footer-input {
   display: block;
   border: 1px solid #F5EBE9;
}

.footer-li-span {
   font-weight: bold;
   font-size: 22px;
   margin-bottom: 30px;
}

.footer-li-link {
   font-size: 16px;
   color: #A79997;
   margin-bottom: 20px;
}

.footer-input {
   width: 250px;
   height: 45px;
   margin-bottom: 30px;
   background: #F8F8F8;
}

.footer-btn {
   width: 160px;
   font-weight: normal;
}

.last-div {
   margin: 25px 0;
}

.last-p {
   font-size: 15px;
}

.last-p span {
   color: #FF715B;
}